@model IQueryable<Parent>
@{ string strTitle = "Список родителей";
                ViewBag.Title = strTitle; }

<div class="div-box">
    <a asp-area="Admin" asp-controller="ParentsEdit" asp-action="Edit" asp-route-id="">Добавить</a>
</div>

<div class="mt-4 col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> ФИО </th>
                        <th> Контактный телефон </th>
                        <th> Оплата </th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.Any())
                    {
                        @foreach (Parent entity in Model)
                        {

                            <tr>
                                <td>
                                    @entity.FullName
                                </td>
                                <td>
                                    @entity.Phone
                                </td>
                                <td>
                                    @entity.Payment
                                </td>
                                <td>
                                    <a class="btn btn-success btn-just-icon btn-sm" asp-area="Admin" asp-controller="ParentsEdit" asp-action="Edit" asp-route-id="@entity.Id"><i class="fas fa-user-edit"></i></a>
                                    <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="ParentsEdit" asp-action="Delete" method="post">
                                        <input type="hidden" name="id" value="@entity.Id">
                                        <a href="#" class="btn btn-danger btn-just-icon btn-sm" onclick="document.getElementById('form-@entity.Id').submit();"><i class="fas fa-user-circle"></i></a>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
